[Unit]
Description=Backup Service

[Service]
Type=simple
ExecStart=/opt/backup/backup
ExecStartPost=/opt/backup/cleanup
User={{ backup_user }}
Group={{ backup_group }}
